/*Social Wall*/

/*All sections---------------------------------------------------------------------------*/

/*Add padding, background, and word-wrap on all sections*/
.format-socialwall .topics {
    padding: 2em;

    -moz-border-radius:[[setting:socialwallsectionradius]];
    -webkit-border-radius: [[setting:socialwallsectionradius]];
    border-radius: [[setting:socialwallsectionradius]];

    background: [[setting:socialwallbackgroundcolor]];
    word-wrap: break-word;
    font-family: [[setting:fontname]];
}

/*Add padding, background, and border to all sections*/
.format-socialwall .section.main.clearfix#section-0, .format-socialwall .section.main.clearfix#section-2, .format-socialwall .topics > form, .format-socialwall #counttotalpost, .format-socialwall .topics .tl-post, .format-socialwall .tl-post .tl-post-actionarea {
    padding: 1em;
    background: #ffffff;

    border: [[setting:socialwallborderwidth]] [[setting:socialwallbordertopstyle]] [[setting:socialwallbordercolor]];

    -moz-border-radius: [[setting:socialwallsectionradius]];
    -webkit-border-radius: [[setting:socialwallsectionradius]];
    border-radius: [[setting:socialwallsectionradius]];
}

/*Section 0-------------------------------------------------------------------------------*/

/*Combine section 0, section 2, search form, and post count*/
.format-socialwall .section.main.clearfix#section-0 {
    border-bottom: 0px;
    margin-bottom: 0px;

    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.format-socialwall .section.main.clearfix#section-2 {
    border-top: 0px;

    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom: 0px;
    margin-bottom: 0px;

    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.format-socialwall .topics > form {
    border-top: 0px;

    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom: 0px;

    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.format-socialwall #counttotalpost {
    border-top: 0px;

    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

/*Make title background white*/
.format-socialwall .section.main.clearfix#section-0 h3.sectionname {
    background: #ffffff;
}

/*Section 2-------------------------------------------------------------------------------*/

/*Make activity/resource link inactive*/
.format-socialwall #postform input#sw-addactivitylink {
    pointer-events: none;
}

/*Text area resizing---------------------------------------------------------------------*/

/*Allow the comment starting text area to expand to the width of the parent element*/
.format-socialwall div.felement.ftextarea {
    max-width: 100%;
}
/*Set the starting text areas of post and comment to the maximum width, and stop them from expanding futher than their parent element*/
.format-socialwall .sw-texarea, .format-socialwall .tl-commentform .tl-commenttext {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    min-width: 100%;
    max-width: 100%;
}

/*Post-----------------------------------------------------------------------------------*/

/*Add space between post text and author, and post text and attached files*/
.format-socialwall .tl-posttext .text_to_html {
    padding: 2em 0em 1.5em;
}

/*Remove border between post author picture and post*/
.format-socialwall .tl-text {
    border-left: 0px;
}

/*Resize, re-align, and recolour post time edited ago*/
.format-socialwall .tl-edited-wrapper {
    font-size: .8em;
    text-align: right;
    color: [[setting:fontcolor]];
    background: #fff;
}

/*Comment---------------------------------------------------------------------------------*/

/*Add space at the bottom of each comment*/
.format-socialwall .tl-comment {
    padding-bottom: 1em;
}

/*Add space between comment author name and comment text*/
.format-socialwall .tl-text .tl-authorname {
    padding-bottom: 1.5em;
}

/*Add space between comment text and time ago*/
.format-socialwall .tl-comment .tl-text div:nth-child(2) {
    padding-bottom: 1.5em;
}

/*Remove space at the bottom of replywrapper*/
.format-socialwall .tl-comment-replywrapper {
    padding-bottom: 0em;
}

/*Moves the required text to the right*/
div.fdescription.required {
    float: right;
}

/*Post attachment-------------------------------------------------------------------------*/

/*Add space between attached files and post text or post author, and space between attached files and post action area*/
.format-socialwall ul.section.tl-postattachment {
    padding: 2em 0em 2.5em;
    margin: 0em;
}

/*Present attached files horizontally*/
.format-socialwall ul.section.tl-postattachment div {
    float: left;
}

/*Post action area------------------------------------------------------------------------*/

/*Add space around post counts and timeago*/
.format-socialwall .tl-counts, .format-socialwall .tl-timeago {
    font-size: 0.8em;
    color: [[setting:fontcolor]];
    padding: 1em 0em 1.5em;
}

/*Add space after each count(likes and comments)*/
.format-socialwall .tl-counts span {
    padding-right: 1.5em;
}

/*Add space at the end of action area and remove right, bottom, left border*/
.format-socialwall .tl-post .tl-post-actionarea {
    padding: 0em 0em 1em;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

/*Post action links----------------------------------------------------------------------*/

/*Make the color of action link grey*/
.format-socialwall .tl-actionlink a {
    color: [[setting:socialwallactionlinkcolor]];
}

/*Add space after like*/
.format-socialwall .tl-actionlink a.like {
    padding-right: 3em;
}

/*Add space after likenomore and change color to light blue*/
.format-socialwall .tl-actionlink a.likenomore {
    padding-right: 3em;
    font-weight: bold;
}

/*Change color on hover over to all action link from grey to light blue*/
.format-socialwall .tl-actionlink a:hover {
    font-weight: bold;
    color: [[setting:socialwallactionlinkhovercolor]];
    text-decoration: none;
}

/*Before the like action link-----------------------------------------------------*/

/*Add a hollow thumbs up icon before like*/
.format-socialwall .like:before {
    font-family: FontAwesome;
    content: "\f087";
    position: relative;
    padding-right: .15em;
}

/*Add a full thumbs up icon before like*/
.format-socialwall .likenomore:before {
    font-family: FontAwesome;
    content: "\f164";
    position: relative;
    padding-right: .15em;
}

/*Add a hollow comment icon before like*/
.format-socialwall .tl-actionlink a:nth-child(3):before {
    font-family: FontAwesome;
    content: "\f0e5";
    position: relative;
    padding-right: .15em;
}

/*Profile picture------------------------------------------------------------------*/

/*Make the profile picture circular*/
.format-socialwall img.userpicture {
    border: 0.25em solid #ffffff;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -moz-box-shadow: 0 0.05em 0.05em rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0.05em 0.05em rgba(0,0,0,0.05);
    box-shadow: 0 0.05em 0.05em rgba(0,0,0,0.05);
}